@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
}

.container {
  width: 38rem;
  height: 4rem;
  background-color: #A5D6A7;
  margin-top: 10%;
  margin-left: 25%;
  display: flex;
  padding: 2%;
  border-radius: 50px;

  .search-bar {
    width: 36rem;
    height: 30px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    margin-top: 3%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 24px 20px;
      font-size: 20px;
      color: #000;

      ::placeholder {
        color: #000;
      }
    }

    button {
      border: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #EEEEEE;
      align-items: center;

      i {
        margin-left: -40%;
        width: 50px;
        font-family: "Font Awesome 5 Free";
      }
    }
  }

  .flex-box {
    width: 300px;
    margin-top: -4%;
    text-align: center;
    margin-right: 5%;
    margin-left: 3%;

    h1 {
      text-align: center;
      font-size: 18px;
    }

    .content-box {
      width: 30px;
      height: 30px;
      display: inline-block;
      font-size: 20px;
      border-radius:  20px;
      padding: 10px 10px;
      margin-left: 5%;
      text-align: center;
      background-color: #EEEEEE;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #43A047;

        i {
          color: #EEEEEE;
        }
      }

        i{
          text-align: center;
          font-size: 25px;
          position: relative;
          font-family: "Font Awesome 5 Free";
        }
    }

  }
}
