@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-color: #A5D6A7;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-bar {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;

  input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

    ::placeholder {
      color: #cac7ff;
    }
  }

  button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #A5D6A7;
    i {
      width: 30px;
    }
  }
}
