<div class="container">
  <form action="" class="search-bar">
    <button type="submit" (click)="ingresarPlat()"> <i class="fas fa-search"></i></button>

    <input type="text"
    placeholder="nombre del platillo"
    name="nombrePlat"
    (ngModel)="ingresarPlat"
    >
  </form>


  <div class="flex-box">
    <h1>No. personas</h1>
    <div class="content-box">
      <div><i class="fas fa-user"></i></div>
      <input type="radio" id="individual" name="drone" value="individual" checked>
      <label for="individual">Individual</label>
    </div>

    <div class="content-box">
      <div><i class="fas fa-user-friends"></i></div>
      <input type="radio" id="pareja" name="drone" value="pareja">
      <label for="pareja">Pareja</label>
    </div>

    <div class="content-box">
      <div><i class="fas fa-users"></i></div>
      <input type="radio" id="grupo" name="drone" value="grupo">
      <label for="grupo">Grupo</label>
    </div>

    <div class="prueba" (click)="personas(1)">
    <i class="fas fa-user"></i>
    </div>
  </div>

</div>

