@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 35rem;
  height: 5rem;
  background-color: #A5D6A7;
  margin-top: 10%;
  margin-left: 25%;
  display: flex;
  padding: 2%;
  border-radius: 50px;

  .search-bar {
    width: 22rem;
    height: 50px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-top: 4%;

    input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 24px 20px;
      font-size: 20px;
      color: #000;

      ::placeholder {
        color: #000;
      }
    }

    button {
      border: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;

      i {
        width: 30px;
      }
    }
  }

  .people {
    margin-left: 5%;
    margin-top: -5%;
    h1 {
      font-size: 20px;
    }
  }

}
