<div class="container">
  <form action="" class="search-bar">
    <button type="submit"> <i class="fas fa-search"></i></button>
    <input type="text" placeholder="nombre del platillo" name="a">
  </form>


  <div class="flex-box">
    <h1>No. personas</h1>
    <button type="" class="personas"> <i class="fas fa-user"></i> </button>
    <button type=""class="personas"> <i class="fas fa-user-friends"></i> </button>
    <button type="" class="personas"> <i class="fas fa-users"></i> </button>
  </div>

</div>
