<div class="full-screen">
    <form class="form">
        <div class="profile-pic">
            <img src="https://i.pinimg.com/originals/4c/6d/f9/4c6df95f02a071086571d91c3668043d.jpg" alt="Profile Picture">
            <div class="pic">
                <i class="fas fa-camera"></i>
            </div>
        </div>
        <div class="form-inputs">
            <i class="fa-solid fa-user">
                <input type="text" value="Nombre(s)" required>
                <input type="text" value="Apellidos" required>
            </i>
            <br>
            <i class="fas fa-envelope">
                <input type="text" value="Correo Electrónico" required>
            </i>
            <br>
            <i class="fas fa-lock">
                <input type="text" value="Contraseña" required>
            </i>
            <br>
            <i class="fas fa-lock">
                <input type="text" value="Confirmar Contraseña" require>
            </i>
            <br>
            <i class="fas fa-phone">
                <input type="text" value="Teléfono" required>
            </i>
        </div>
        <div class="register-btn">
            <button type="submit">Registrarse</button>
        </div>
    </form>
</div>