@import "../../../assets/scss/variables.scss";
.full-screen {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/img/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .form {
        position: absolute;
        width: 40%;
        height: 80%;
        background-color: map-get($colors, "secondary-bg");
        margin-left: 5vw;
        margin-top: 8vh;
        border-radius: 50px;
        box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
        h1 {
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
        }
        .form-inputs {
            margin-top: 25px;
            label {
                position: relative;
                left: 25%;
                input {
                    position: relative;
                    display: block;
                    width: 50%;
                    height: 40px;
                    border-bottom: 2px solid black;
                    font-size: 17px;
                    background-color: map-get($colors, "secondary-bg");
                    margin-bottom: 20px;
                }
                .input-icon {
                    color: #191919;
                    position: absolute;
                    cursor: pointer;
                    width: 50px;
                    height: 20px;
                    left: 360px;
                    top: 200%;
                    transform: translateY(-50%);
                }
            }
        }
        .register-btn {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            position: relative;
            button {
                background-color: map-get($colors, "primary");
                color: map-get($colors, "primary-bg");
                text-align: center;
                font-size: 25px;
                padding: 10px 50px;
                border-radius: 50px;
                transition: all .3s ease;
                &:hover {
                    font-size: 30px;
                    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
                }
            }
        }
        .mensajeError {
            background-color: rgba(255, 0, 0, 0.171);
            border-radius: 8px;
            height: 40px;
            width: 50%;
            margin: 10px auto;
            text-align: center;
            box-shadow: 0px 3px 5px #aaa;
            p {
                color: rgb(189, 3, 3);
            }
        }
    }
}