@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.contenedor-form {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 41%;
  height: 58%;
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 50px;
  margin: 0 auto;

  img {
    position: absolute;
    width: 36%;
    height: 37%;
    top: 11%;
  }

  .ingrediente-container {
    position: absolute;
    top: 40%;
    padding-top: 10px;
    background-color: #e5e5e5;
    width: 36%;
    height: 25vh;
    padding-top: 30px;
    margin-top: 80px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    #label_ing {
      position: absolute;
      font-size: 20px;
      left: 35%;
    }

    #label_cantidad {
      position: absolute;
      font-size: 20px;
      left: 35%;
      margin-top: 60px;
    }

    #input_ing {
      position: absolute;
      left: 15%;
      width: 70%;
      height: 8%;
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    #inputCantidad {
      position: absolute;
      left: 15%;
      width: 70%;
      height: 8%;
      padding: 5px;
      margin-top: 70px;
      margin-bottom: 30px;
    }
  }

  .container-ingrediente-2 {
    background-color: #e5e5e5;
    position: absolute;
    left: 50%;
    top: 11%;
    width: 44%;
    height: 75%;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 50px;

    input {
      position: absolute;
      width: 70%;
      height: 5%;
      padding: 5px;
      margin-bottom: 50px;
      font-size: 20px;
    }

    select {
      position: absolute;
      top: 10%;
      left: 6%;
      margin: 20px;
      width: 80%;
      height: 5%;
      margin-bottom: 40px;
    }

    #label_unidad {
      position: absolute;
      margin: 50px;
      top: -5%;
      left: 26%;
    }

    #label_precio {
      position: absolute;
      margin: 50px;
      top: 20%;
      left: 29%;
    }

    #input_precio {
      position: absolute;
      top: 37%;
      left: 9%;
      width: 80%;
    }

    #label_peso {
      position: absolute;
      margin: 50px;
      top: 45%;
      left: 32%;
    }

    #input_peso {
      position: absolute;
      top: 62%;
      left: 9%;
      width: 80%;
    }

    button {
      position: absolute;
      margin-top: 30px;
      width: 50%;
      height: 10%;
      left: 26%;
      top: 75%;
      background: #43a047;
      border: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      color: white;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;

      &:disabled {
        cursor: auto;
      }
    }
  }

  input {
    position: absolute;
    border-radius: 20px;
    border-width: 0;
  }

  label {
    position: absolute;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .contenedor-form {
    img {
      left: 8%;
    }

    .ingrediente-container {
      left: 8%;

      #label_ing {
        left: 19%;
      }

      #label_cantidad {
        left: 22%;
        margin-top: 70px;
      }

      #input_ing {
        left: 13%;
        margin-bottom: 30px;
      }

      #inputCantidad {
        left: 13%;
        margin-top: 90px;
      }
    }

    .container-ingrediente-2 {
      select {
        left: 2%;
      }

      #label_unidad {
        left: 12%;
      }

      #label_precio {
        left: 15%;
      }


      #label_peso {
        left: 17%;
      }
    }
  }
}

@media (max-width: 800px) {
  .contenedor-form {
    width: 70%;
    left: 9%;

    img {
      top: 11%;
    }

    .ingrediente-container {
      #label_ing {
        left: 25%;
      }

      #label_cantidad {
        left: 28%;
        margin-top: 70px;
      }

      #input_ing {
        left: 13%;
        margin-bottom: 30px;
      }

      #inputCantidad {
        left: 13%;
        margin-top: 80px;
      }
    }

    .container-ingrediente-2 {
      select {
        left: 4%;
      }

      #label_unidad {
        left: 20%;
      }

      #label_precio {
        left: 22%;
      }

      #input_precio {
        left: 8%;
      }

      #label_peso {
        left: 22%;
      }

      #input_peso {
        left: 8%;
      }
    }
  }
}

@media (max-width: 600px) {
  .contenedor-form {
    left: 6%;

    .ingrediente-container {
      #label_ing {
        left: 18%;
      }

      #label_cantidad {
        left: 21%;
        margin-top: 70px;
      }

      #input_ing {
        left: 13%;
        margin-bottom: 30px;
      }

      #inputCantidad {
        left: 13%;
        margin-top: 80px;
      }
    }

    .container-ingrediente-2 {
      select {
        left: 2%;
      }

      #label_unidad {
        left: 10%;
      }

      #label_precio {
        left: 13%;
      }

      #input_precio {
        left: 8%;
      }

      #label_peso {
        left: 15%;
      }

      #input_peso {
        left: 8%;
      }
    }
  }
}
