<div class="contenedor-form">
  <img alt="Ingrediente" [src]="imagen">

  <form action="">

    <div class="ingrediente-container">
        <label>Ingrediente: </label>
        <br>
        <input type="text" (keyup.enter)="getIngredienteInput()" #ingredienteInput>
        <br>
        <label>Cantidad: </label>
        <br>
        <input type="number" #cantidadInput>
    </div>

    <div class="container-ingrediente-2">
      <label>Unidad: </label>
      <br>
      <select #selecUnidad  (change)="getUnidad()">
        <option [value]="unidad" *ngFor="let unidad of unidades">
          {{unidad}}
        </option>

      </select>
      <br>

      <label>Precio: </label>
      <br>
      <input type="number" #precioInput>
      <br>

      <label>Peso: </label>
      <br>
      <input type="number" #pesoInput>
      <br>

      <button [disabled]="disabledButton" (click)="clickBoton()">Agregar</button>
    </div>
  </form>
</div>
