<div class="contenedor-form">
  <img alt="Ingrediente" [src]="imagen">

  <form action="">

    <div class="ingrediente-container">
        <label id="label_ing">Ingrediente: </label>
        <br>
        <input id="input_ing" type="text" (keyup.enter)="getIngredienteInput()" #ingredienteInput>
        <br>
        <label id="label_cantidad">Cantidad: </label>
        <br>
        <input id="inputCantidad" type="number" #cantidadInput>
    </div>

    <div class="container-ingrediente-2">
      <label id="label_unidad">Unidad: </label>
      <br>
      <select #selecUnidad  (change)="getUnidad()">
        <option [value]="unidad" *ngFor="let unidad of unidades">
          {{unidad}}
        </option>

      </select>
      <br>

      <label id="label_precio">Precio: </label>
      <br>
      <input id="input_precio" type="number" #precioInput>
      <br>

      <label id="label_peso">Peso: </label>
      <br>
      <input id="input_peso" type="number" #pesoInput>
      <br>

      <button [disabled]="disabledButton" (click)="clickBoton()">Agregar</button>
    </div>
  </form>
</div>
