<app-tabla-precios (onTotalgeneral)="paraImprimir($event)"></app-tabla-precios>
<div class="card">
  <div class="card-table">
    <table>
      <tr >
        <th>Ingrediente</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>sasdasd</td>
        <td>asdasdad</td>
        <td>asdadads</td>
        <td>asdasdadsa</td>
        <td>asdasdadsads</td>
      </tr>
    </table>
  </div>
  <button class="card-button">Finalizar</button>
</div>
