<app-input (onPlatillo)="platillo($event)">
</app-input>
<app-form-ingredientes
(onIngredienteNombre)="recibirNombre($event)"
(onCantidadNombre)="recibirCantidad($event)"
(onUnidadNombre)="recibirUnidad($event)"
(onPrecioNombre)="recibirPrecio($event)"
(onTotal)="esTotal($event)"></app-form-ingredientes>
<section class="table-decoration">
  <tr class="content-platillo">
    <td></td>
    <td class="plat"><b>Nombre del platillo:</b></td>
    <td class="nombre-platillo">{{nombrePlat}}</td>
    <td></td>
  </tr>
  <table>
    <thead>
      <tr>
        <th>Ingrediente</th><th>Cantidad</th><th>Unidad</th><th>Precio</th><th>Total</th>
      </tr>
    </thead>
      <tr *ngFor="let item of lista_ingredientes ">
        <td class="with-border">{{item [0]}}</td>
        <td class="with-border">{{item [1]}}</td>
        <td class="with-border">{{item [2]}}</td>
        <td class="with-border">{{item [3]}}</td>
        <td class="nula">{{item [4]}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="suma"><b>Total</b></td>
        <td class="suma"><b>{{this.acumulador}}</b></td>
      </tr>

  </table>
  <button (click)="finalizar()">Finalizar</button>
</section>
