<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de costos</title>
</head>
<body>
  <section class="table-decoration">
    <table>
      <thead>
        <tr>
          <th>Ingrediente</th><th>Cantidad</th><th>Unidad</th><th>Precio</th><th>Total</th>
        </tr>
      </thead>
        <tr>
          <td class="with-border"></td>
          <td class="with-border"></td>
          <td class="with-border"></td>
          <td class="with-border"></td>
          <td class="nula"></td>
        </tr>
    </table>
    <button>Finalizar</button>
</section>
</body>
</html>



