@import "../../assets/scss/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.full-screen {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .form {
        position: absolute;
        width: 40%;
        height: 80%;
        background-color: map-get($colors, "secondary-bg");
        margin-left: 5vw;
        margin-top: 8vh;
        border-radius: 50px;
        //box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
        box-shadow:  -20px -20px 60px rgba(0, 0, 0, 0.5),
             20px 20px 60px rgba(0, 0, 0, 0.5);
        h1 {
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
        }
        .form-inputs {
            margin-top: 25px;
            label {
                position: relative;
                left: 25%;
                input {
                    display: block;
                    width: 50%;
                    height: 40px;
                    border-bottom: 2px solid black;
                    font-size: 17px;
                    background-color: map-get($colors, "secondary-bg");
                    margin-bottom: 20px;
                }
            }
        }
        .register-btn {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            position: relative;
            button {
                background-color: map-get($colors, "primary");
                color: map-get($colors, "primary-bg");
                text-align: center;
                font-size: 25px;
                border: 0px solid #235f26;
                padding: 10px 50px;
                border-radius: 50px;
                transition: all .2s ease;
                cursor: pointer;
                &:hover {
                    font-size: 20px;
                    box-shadow: inset -50px -50px 100px #235f26,
            inset 50px 50px 100px #399b3e;
                }
            }
        }
        .mensajeError {
            background-color: rgba(255, 0, 0, 0.171);
            border-radius: 8px;
            height: 40px;
            width: 50%;
            margin: 10px auto;
            text-align: center;
            box-shadow: 0px 3px 5px #aaa;
            p {
                color: rgb(189, 3, 3);
            }
        }
        a {
            position: absolute;
            text-decoration: none;
            color: map-get($colors, "link-color");
            margin-top: 35px;
            left: 40%;
            transition: all 0.3s ease;
            &:hover {
                text-decoration: underline;
                font-size: 17px;
            }
        }
    }


    ///////////////////////////////
    .cargando{
      width: 120px;
      height: 75px;
      display: flex;
      margin: 50px auto;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
    .puntitos{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #235f26;
        animation: bounce .5s alternate infinite;
    }
    .puntitos:nth-child(2)
        {
          animation-delay: .16s;
        }
    .puntitos:nth-child(3)
        {
          animation-delay: .32s;
        }

    @keyframes bounce {
      from{
        transform: scaleX(1.25);
      }
      to{
        transform: translateY(-50) scaleX(1);
      }
    }

    ///////////////////////////////
}
