<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(235, 235, 235);
}



=======
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Poppins";
}
>>>>>>> 6e1ce8e902c2bece6c7bce80472598361e6bc828
