@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
body{
  width: 100vw;
  height: 100vh;
  background-color: #E5E5E5;
  position: absolute;
  font-family:'Poppins', sans-serif;


  section.table-decoration{
    position: absolute;
    width: 1200px;
    height: 480px;
    margin-left: 90px;
    margin-top: 105px;
    background-color: #43A047;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    table{
      position: absolute;
      background-color: #EEEEEE;
      margin:100px 100px;
      margin-top: 30px;
      width: 1000px;
      height: 360px;
      border-radius: 20px;
      td.with-border{
        border-right: #c0c0c0 solid 0.5px;
        width: 200px;
      }
      td.nula{
        border-right: none;
      }
    }
    button{
      position: absolute;
      font-family:'Poppins', sans-serif;
      font-size: 16px;
      margin-top: 420px;
      margin-left: 950px;
      width: 150px;
      height: 30px;
      border-radius: 20px;
      border-style: none;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      &:hover{
        background-color: #9b9b9b;
      }
    }
  }
}

