@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.header {
  width: 100%;
  height: 150px;
  background-color: #2E7D32;

  span {
    position: relative;
    top: 25%;
    left: 36%;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
  }

  i{
    position: relative;
    left: 95%;
    top: 25%;
    font-size: 28px;
    color: #212121;

    &:hover {
      color: #A5D6A7;
    }
  }

}
