<div class="contenedor-form">
  <img src="../../assets/img/fruta.png" alt="Rábanos">

  <form action="">

    <div class="ingrediente-container">
        <label>Ingrediente: </label>
        <br>
        <input type="text" id="idIngrediente">
        <br>
        <label>Cantidad: </label>
        <br>
        <input type="number" id="id-number">
    </div>

    <div class="container-ingrediente-2">
      <label>Unidad: </label>
      <br>
      <select id="id-select">
        <option value="noSeleccion">- - -</option>
        <option value="CDA">CDA</option>
        <option value="PZCA">PZCA</option>
        <option value="TZA">TZA</option>
        <option value="G">G</option>
        <option value="KG">KG</option>
        <option value="ML">ML</option>
        <option value="L">L</option>
        <option value="PZA">PZA</option>
        <option value="DTE">DTE</option>
        <option value="H">H</option>
        <option value="RMA">RMA</option>
        <option value="TROZO">TROZO</option>
        <option value="LONCHA">LONCHA</option>
        <option value="Y/C">Y/C</option>
        <option value="C/S">C/S</option>
      </select>
      <br>

      <label>Precio: </label>
      <br>
      <input type="number" id="id-precio">
      <br>

      <label>Peso: </label>
      <br>
      <input type="number" id="id-peso">
      <br>

      <button class="btn btn-default">Agregar</button>
    </div>
  </form>
</div>
